
# hosts to update
# any instance of 0.0.0.0 in the url with be replaced with current ip
# info on google domain's dynamic dns api can be found at:
# https://support.google.com/domains/answer/6147083?hl=en
hostname        "subdomain.yourdomain.com"
update-url       "https://username:password@domains.google.com/nic/update?hostname=subdomain.yourdomain.com"
secs-between     "5000"
failure-limit    "5"

# info about namecheap's dynamic dns api can be found at:
# https://www.namecheap.com/support/knowledgebase/article.aspx/29/11/how-do-i-use-a-browser-to-dynamically-update-the-hosts-ip
hostname        "subdomain.yourdomain.com"
update-url       "https://dynamicdns.park-your-domain.com/update?host=subdomain&domain=yourdomain.com&password=d381d93ad2bf4447a2007ca17e19e085"
secs-between     '5000'
failure-limit    '5'
